@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* styles.css */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.option {
    display: block;
    background: #e4e4e4;
    border: none;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background: #ccc;
}

#next-button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#next-button:hover {
    background: #218838;
}
